{% extends "base.html" %}

{% block content %}
    <h1>Добавление новости</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.photo.label }}<br>
            {{ form.photo() }}<br>
            {{ form.f }}
        </p>
        <p class="form-check">{{ form.is_private() }} {{ form.is_private.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% endblock %}